@import url(../libs/intel-appframework/css/icons.css);
@import url(../libs/intel-appframework/build/css/af.ui.min.css);
/*! ReKola stylesheet by Clevisaci | www.clevis.cz */
/* Mixins */
/* Settings and variables */
/* Frameworks */
/*!
 * Frontbase by Clevisaci
 * - a starter fuel for web projects */
@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
}
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  display: none;
  visibility: hidden;
}

svg {
  max-height: 100%;
}

/* Web styles */
#navbar, #backButton {
  display: none !important;
}

.panel {
  padding-top: 10px !important;
}

.button {
  display: block !important;
}

#splashscreen {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
#splashscreen .wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#splashscreen p {
  position: relative;
  top: 40px;
}

.bikesList {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.bikesList a:active, .bikesList a:focus {
  background-color: lightyellow;
}
.bikesList .type {
  font-size: 0.7em;
}
.bikesList .distance {
  font-weight: bold;
}
.bikesList .right {
  float: right;
  padding-right: 10px;
  text-align: right;
  margin-top: -0.6em;
}
.bikesList .name {
  display: block;
  font-weight: bold;
}

#bikeDetail .map {
  margin: -10px;
  margin-bottom: 0;
  height: 50%;
}
#bikeDetail .position {
  margin: 20px 0;
  text-align: center;
}
#bikeDetail .position .distance {
  font-weight: bold;
}

#bikeReturn .mapWrap {
  margin: 10px -10px;
  height: 50%;
  position: relative;
}
#bikeReturn .mapIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -10px;
  z-index: 100;
}
#bikeReturn .map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
