ul, li
	margin: 0
	padding: 0

.fleft
	float: left
.fright
	float: right
.gcol2
	width: 50%
	float: left
	padding-right: 10px
	&:nth-child(2n)
		padding-right: 0
		padding-left: 10px

// Bike status top bar
.hasIssues, .notOperational
	margin: -10px
	margin-bottom: 10px
	padding: 10px
	text-align: center
.hasIssues
	background-color: lightpink
.notOperational
	background-color: lightcoral