// App UI Framework rewrites
#navbar, #backButton
	display: none !important
.panel
	padding-top: 10px !important

#splashscreen
	display: table
	height: 100%
	.wrap
		display: table-cell
		vertical-align: middle
		text-align: center


