<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<title>ReKola</title>

		<link rel="stylesheet" type="text/css" href="build/screen.css" />
	</head>

	<body>
		<div id="app">

			<div id="splashscreen">
				<h1>ReKola</h1>
				<div class="wrap">
					<img src="img/logo.svg">
					<p>Rozjíždím aplikaci...</p>
				</div>
			</div>

		</div>

		<div id="app-loader">
			<div class="wrap">
				<div class="box">
					<span class='icon spin'></span>
					<div class="text">Načítám...</div>
				</div>
			</div>
		</div>

		<!-- Templates -->
		<script type="text/template" id="template-login">
			<header>
				<h1>ReKola - přihlášení</h1>
			</header>
			<form action>
				<input class="username form-control" type="text" placeholder="E-mail">
				<input class="password form-control" type="password" placeholder="Heslo">
				<input class="accessible" type="submit">
			</form>
			<a class="btn btn-primary button-login">Přihlásit se</a>
			<p>
				Nevíš heslo? Nevadí, dokážeme ho <a href="http://rekola.cz/login/password-recovery">spolu obnovit</a>.
			</p>
		</script>

		<script type="text/template" id="template-account">
			<header>
				<a class="btn btn-default btn-sm fright button-go" data-go="bike/getcode">Půjčit si kolo</a>
				<a class="btn btn-default btn-sm fleft button-go" data-go="nearby">Kola okolo</a>
				<h1>Můj účet</h1>
			</header>

			<form class="password" action>
				<h2>Změna hesla</h2>
				<input class="form-control" type="password" name="oldPass" placeholder="původní heslo">
				<input class="form-control" type="password" name="newPass" placeholder="nové heslo">
				<input class="form-control" type="password" name="newPassConfirm" placeholder="nové heslo znovu pro kontrolu">
				<input class="accessible" type="submit">

				<a class="btn btn-danger button-changePass">Změnit heslo</a>
			</form>

			<h2>Správa</h2>
			<a class="btn btn-primary button-logout">Odhlásit se</a>

		</script>

		<script type="text/template" id="template-bikesnearby">
			<div>
				<header>
					<a class="btn btn-default btn-sm fright button-go" data-go="bike/getcode">Půjčit si kolo</a>
					<a class="btn btn-default btn-sm fleft button-go" data-go="account">Můj účet</a>
					<h1>Kola okolo</h1>
				</header>

				<div class="bikeList-wrap">
					<% if(gmapsStaticUrl){ %>
						<div class="map">
							<img src="<%- gmapsStaticUrl %>">
						</div>
					<% } %>

					<ul class="list bikesList">
						<% _.each(bikes, function(bike){ %>
							<li class="bikeDetail" data-id="<%- bike.id %>">
								<span class="distance">
									<strong><%- bike.location.distance %></strong>
									<% if(bike.issues.length){
										if(bike.operational) { %>&nbsp;<i class="icon bug"></i>
										<% } else { %>&nbsp;<i class="icon error"></i>
									<% }} %>
									<% if(bike.lastSeen) { %>
										<br><small><%- bike.lastSeen %></small>
									<% } %>
								</span>
								<span class="right">
									<span class="wrap"><span class="name"><%- bike.name %></span>
										<span class="address"><%- bike.location.address %></span></span>
								</span>
							</li>
						<% }); %>
					</ul>
				</div>
			</div>
		</script>

		<script type="text/template" id="template-bikedetail">
			<header>
				<a class="btn btn-default btn-sm fright button-go" data-go="bike/getcode">Půjčit si kolo</a>
				<a class="btn btn-default btn-sm fleft button-go" data-go="nearby">Kola okolo</a>
				<h1><%- bike.name %></h1>
			</header>
			<% if(bike.issues.length){
				if(bike.operational) { %>
					<div class="hasIssues"><i class="icon bug"></i> Pojízdné s problémy</div>
				<% } else { %>
					<div class="notOperational"><i class="icon error"></i> Nepojízdné</div>
			<% }} %>
			<div class="map"></div>
			<div class="position">
				<span class="distance"><%- bike.location.distance %></span>,
				<span class="address"><%- bike.location.address %></span><br>
				<small class="note"><%- bike.location.note %></small>
			</div>
			<% if(bike.issues.length){ %>
			<ul class="issues">
				<% _.each(bike.issues, function(issue) { %>
					<li><%- issue %></li>
				<% }); %>
			</ul>
			<% } %>
			<p class="note">
				<%- bike.description %>
			</p>
			<a class="btn btn-primary button-getcode">Půjčit si kolo</a>
			<% if(bike.issues.length){ %>
				<a class="btn btn-default button-go" data-go="bike/<%- bike.id %>/issues">Problémy...</a>
			<% } else { %>
				<a class="btn btn-default button-go" data-go="bike/<%- bike.id %>/report">Nahlásit problém</a>
			<% } %>
		</script>

		<script type="text/template" id="template-bikecode">
			<header>
				<a class="btn btn-default btn-sm fleft button-go" data-go="nearby">Kola okolo</a>
				<h1>Půjčit si kolo</h1>
			</header>
			<p>Opište šestimístný kód z tabulky na kole a získáte kód zámku.</p>
			<p>Od té chvíle máte kolo půjčené. Poté budete mít možnost kolo vrátit umístěním šipky na mapu.</p>
			<form action>
				<input type="number" class="code form-control" placeholder="identifikátor kola">
				<input class="accessible" type="submit">
			</form>
			<a class="btn btn-primary button-getcode">Získat kód zámku</a>

			<p><i>Na kole zkontrolujte nafouknuté duše a utažení šroubů.</i>
			<% if((new Date).getHours() >= 20 || (new Date).getHours() <= 6){ %>
				<p><b>Rozsviťte světla!</b> Pokud je tma, bez světel nevyjíždějte.
			<% } %>
		</script>

		<script type="text/template" id="template-bikerented">
			<header>
				<h1>Tak jedem!</h1>
			</header>
			<div class="info">
				<p>Kód zámku</p>
				<strong><%- bike.lockCode %></strong>
				<p>Štastnou cestu!</p>
				<p>Kolo <%- bike.name %> k vaším službám.</p>
			</div>
			<a class="btn btn-primary button-return">Vrátit kolo</a>
			<a class="btn btn-default button-go" data-go="bike/<%- bike.id %>/report">Nahlásit problém</a>
		</script>

		<script type="text/template" id="template-bikereturn">
			<header>
				<a class="btn btn-default btn-sm fleft button-go" data-go="bike/<%- bike.id %>/rented">Jedu dál</a>
				<h1>Vrátit kolo</h1>
			</header>
			<p class="address">
				<small class="specify">Neodpovídá adresa? Upravte ji přetažením mapy:</small>
			</p>
			<div class="mapWrap">
				<img class="mapIcon" src="img/ico-direction_down-simple.png">
				<div class="map"></div>
			</div>
			<form action>
				<textarea class="form-control" placeholder="Upřesněte prosím, kde kolo stojí (např. 3. lampa od ulice X)"></textarea>
				<input class="accessible" type="submit">
			</form>
			<a class="btn btn-primary button-return">Kolo vráceno a uzamčeno</a>
			<a class="btn btn-default button-go" data-go="bike/<%- bike.id %>/report">Nahlásit problém</a>
		</script>

		<script type="text/template" id="template-bikereturned">
			<header>
				<h1>Úspěšně vráceno</h1>
			</header>
			<p>Kolo bylo vráceno</p>
			<p class="oksign"><i class="icon check"></i></p>
			<p>Těšíme se, že se brzy zase svezete.</p>
			<a class="btn btn-primary button-nearby">Seznam kol v okolí</a>
		</script>

		<script type="text/template" id="template-bikereport">
			<header>
				<a class="btn btn-default btn-sm fleft button-go" data-go="bike/<%- bike.id %>"><%- bike.name %></a>
				<h1>Nový problém</h1>
			</header>
			<form action>
				<select name="title" class="form-control">
					<option value="Kolo tu není">Kolo tu není</option>
					<option value="Kod zámku nefunguje">Kod zámku nefunguje</option>
					<option value="Píchlá duše">Píchlá duše</option>
					<option value="Problém s řetězem">Problém s řetězem</option>
					<option value="Něco je s rámem">Něco je s rámem</option>
					<option value="Něco chybí">Něco chybí</option>
					<option value="Tohle mají být brzdy?">Tohle mají být brzdy?</option>
					<option value="Bál bych se na tom jet">Bál bych se na tom jet</option>
					<option value="JIný problém">Jiný problém</option>
				</select>
				<div class="checkbox">
					<input type="checkbox" name="operational" id="operational">
					<label for="operational">kolo je pojízdné</label>
				</div>
				<textarea class="form-control" name="desc" rows="4" placeholder="Prosím, popište detailně problém na kole"></textarea>

				<input class="accessible" type="submit">
			</form>
			<a class="btn btn-primary button-report">Nahlásit problém</a>
		</script>

		<script type="text/template" id="template-bikeissues">
			<header>
				<a class="btn btn-default btn-sm fleft button-go" data-go="bike/<%- bike.id %>"><%- bike.name %></a>
				<h1>Problémy</h1>
			</header>
			<% if(bike.issues.length){
				if(bike.operational) { %>
					<div class="hasIssues"><i class="icon bug"></i> Pojízdné s problémy</div>
				<% } else { %>
					<div class="notOperational"><i class="icon error"></i> Nepojízdné</div>
			<% }} %>

			<% if(bike.issues.length){ %>
			<ul class="issues">
				<% _.each(bike.fullIssues, function(issue) { %>
					<li>
						<a class="btn btn-default btn-xs button-go fright" data-go="bike/<%- bike.id %>/repair/<%- issue.id %>">Opravit</a>

						<h3 class="title"><%- issue.title %></h3>
						<% _.each(issue.updates, function(update) { %>
							<p class="desc"><%- update.description %></p>
							<p class="sign"><span class="date"><%- update.issuedAt %></span> - <span class="author"><%- update.author %></span></p>
						<% }); %>
					</li>
				<% }); %>
			</ul>
			<% } %>

			<a class="btn btn-primary button-go" data-go="bike/<%- bike.id %>/report">Nahlásit problém</a>
		</script>

		<script type="text/template" id="template-bikerepair">
			<header>
				<a class="btn btn-default btn-sm fleft button-go" data-go="bike/<%- bike.id %>"><%- bike.name %></a>
				<h1>Oprava</h1>
			</header>
			<% if(bike.issues.length){
				if(bike.operational) { %>
					<div class="hasIssues"><i class="icon bug"></i> Pojízdné s problémy</div>
				<% } else { %>
					<div class="notOperational"><i class="icon error"></i> Nepojízdné</div>
			<% }} %>
			<form action>
				<select name="issue" class="form-control">
					<% _.each(bike.fullIssues, function(i) { %>
						<option value="<%- i.id %>"	<% if(i.id==issueId){ %>selected<% } %>	>
							<%- i.title %>
						</option>
					<% }); %>
				</select>
				<div class="checkbox">
					<input type="checkbox" name="resolved" id="resolved">
					<label for="resolved">problém je vyřešen</label>
				</div>
				<div class="expenses">
					<div class="gcol2">
						<label for="costs">Cena dílů (v Kč, včetně DPH, je-li)</label>
						<input class="form-control" type="text" name="costs" id="costs" value="0">
					</div>
					<div class="gcol2">
						<label for="time">Čas strávený opravou (v minutách)</label>
						<input class="form-control" type="text" name="time" id="time" value="0">
					</div>
				</div>
				<textarea class="form-control" name="desc" rows="4" placeholder="Prosím, popište detailně průběh opravy"></textarea>

				<input class="accessible" type="submit">
			</form>
			<a class="btn btn-primary button-repair">Opraveno</a>
		</script>


		<script type="text/javascript" charset="utf-8" src="build/rekola.js"></script>
		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-45215978-1', 'rekola.cz');
			ga('send', 'pageview');
		</script>
	</body>
</html>
