<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<title>ReKola</title>

		<link rel="stylesheet" type="text/css" href="build/screen.css" />

		<script>
			/* REKOLA Namespace */
			var REKOLA = {};
			REKOLA.baseUrl = document.location.href.replace(document.location.protocol + '//' + document.location.host, '').replace(document.location.hash, '');
			REKOLA.remoteUrl = 'http://rekola.clevis.org/server/api';
			REKOLA.apiKey = 'REKOLA-apiKey';
			REKOLA.rentedBike = 'REKOLA-rentedBike';
			console.log('REKOLA', REKOLA);
		</script>
	</head>

	<body>
		<div id="afui">

			<div id="header">
				<h1 id="pageTitle">ReKola</h1>
			</div>

			<div id="content">

				<div id="splashscreen">
					<div class="wrap">
						<img src="img/logo.svg" onerror="this.onerror=null; this.src='img/logo.png'">
						<p>Rozjíždím aplikaci...</p>
					</div>
				</div>

			</div>
		</div>

		<!-- Templates -->
		<script type="text/template" id="template-login">
			<header>
				<h1>ReKola - přihlášení</h1>
			</header>
			<form action>
				<input class="username" type="text" placeholder="Jméno">
				<input class="password" type="password" placeholder="Heslo">
				<input class="accessible" type="submit">
			</form>
			<a class="button slate button-login">Přihlásit se</a>
		</script>

		<script type="text/template" id="template-bikesnearby">
			<div>
				<header>
					<a class="button fright button-go" data-go="bike/getcode">Půjčit si kolo</a>
					<!--<a class="button fleft button-go" data-go="account">Můj účet</a>-->
					<h1>Kola okolo</h1>
				</header>
				<div class="bikeList-wrap">
					<ul class="list bikesList">
						<% _.each(bikes, function(bike){ %>
							<li class="bikeDetail" data-id="<%- bike.id %>">
								<span class="distance"><%- bike.location.distance %></span>
								<span class="right">
									<span class="wrap"><span class="name"><%- bike.name %></span>
										<span class="address"><%- bike.location.address %></span></span>
								</span>
							</li>
						<% }); %>
					</ul>
				</div>
			</div>
		</script>

		<script type="text/template" id="template-bikedetail">
			<header>
				<a class="button fright button-go" data-go="bike/getcode">Půjčit si kolo</a>
				<a class="button fleft button-go" data-go="nearby">Kola okolo</a>
				<h1><%- bike.name %></h1>
			</header>
			<div class="map"></div>
			<div class="position">
				<span class="distance"><%- bike.location.distance %></span>,
				<span class="address"><%- bike.location.address %></span><br>
				<small class="note"><%- bike.location.note %></small>
			</div>
			<p class="note">
				<%- bike.description %>
			</p>
			<% if(bike.issue){ %>
				<p class="issues">Závady: <%- bike.issue %></p>
			<% } %>
			<a class="button slate button-getcode">Půjčit si kolo</a>
			<a class="button button-go" data-go="bike/<%- bike.id %>/report">Nahlásit problém</a>
		</script>

		<script type="text/template" id="template-bikecode">
			<header>
				<a class="button fleft button-go" data-go="nearby">Kola okolo</a>
				<h1>Půjčit si kolo</h1>
			</header>
			<p>Opište identifikátor z tabulky na kole a získáte kód zámku.</p>
			<p>Od té chvíle máte kolo půjčené.</p>
			<form action>
				<input type="text" class="code" placeholder="identifikátor kola">
				<input class="accessible" type="submit">
			</form>
			<a class="button slate button-getcode">Získat kód zámku</a>
			
		</script>

		<script type="text/template" id="template-bikerented">
			<header>
				<h1>Tak jedem!</h1>
			</header>
			<div class="info">
				<p>Kód zámku</p>
				<strong><%- bike.lockCode %></strong>
				<p>Štastnou cestu!</p>
			</div>
			<a class="button slate button-return">Vrátit kolo</a>
			<!--<a class="button button-report">Nahlásit problém</a>-->
		</script>

		<script type="text/template" id="template-bikereturn">
			<header>
				<a class="button fleft button-go" data-go="bike/<%- bike.id %>/rented">Jedu dál</a>
				<h1>Vrátit kolo</h1>
			</header>
			<p class="address"></p>
			<small class="specify">Neodpovídá adresa? Upravte ji přetažením mapy:</small>
			<div class="mapWrap">
				<img class="mapIcon" src="img/ico-direction_down-simple.png">
				<div class="map"></div>
			</div>
			<form action>
				<textarea placeholder="Upřesněte prosím, kde kolo stojí (např. 3. lampa od ulice X)"></textarea>
				<input class="accessible" type="submit">
			</form>
			<a class="button slate button-return">Kolo vráceno a uzamčeno</a>
		</script>

		<script type="text/template" id="template-bikereturned">
			<header>
				<h1>Úspěšně vráceno</h1>
			</header>
			<p>Kolo bylo vráceno</p>
			<p>Těšíme se, že se brzy zase svezete.</p>
			<a class="button slate button-nearby">Seznam kol v okolí</a>
		</script>

		<script type="text/template" id="template-bikereport">
			<header>
				<a class="button fleft button-go" data-go="bike/<%- bike.id %>"><%- bike.name %></a>
				<h1>Nový problém</h1>
			</header>
			<form action>
				<select name="title" class="af-ui-forms">
					<option value="Kolo tu není">Kolo tu není</option>
					<option value="Kod zámku nefunguje">Kod zámku nefunguje</option>
					<option value="Píchlá duše">Píchlá duše</option>
					<option value="Problém s řetězem">Problém s řetězem</option>
					<option value="Něco je s rámem">Něco je s rámem</option>
					<option value="Něco chybí">Něco chybí</option>
					<option value="Tohle mají být brzdy?">Tohle mají být brzdy?</option>
					<option value="Bál bych se na tom jet">Bál bych se na tom jet</option>
					<option value="JIný problém">JIný problém</option>
				</select>
				<div>
					<input class="af-ui-forms" type="checkbox" name="operational" value><label for="operational">kolo je pojízdné</label>
				</div>
				<textarea class="af-ui-forms" name="desc" rows="4"></textarea>

				<input class="accessible" type="submit">
			</form>
			<a class="button slate button-report">Nahlásit problém</a>
		</script>

		<script type="text/javascript" charset="utf-8" src="build/rekola.js"></script>
		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	</body>
</html>
