.bikeList-wrap
	margin: -10px

.bikesList
	display: table
	width: 100%
	border-spacing: collapse
	margin: 0 !important

	.bikeDetail
		cursor: pointer

	li
		display: table-row !important

	.distance, .right
		display: table-cell
		vertical-align: middle
		padding: 20px 10px
		border-bottom: 1px solid #ccc

	.distance
		padding-right: 0
		white-space: nowrap
	.right
		text-align: right
		.wrap
			display: block
			position: relative
			padding-right: 20px
			&:after
				position: absolute
				right: 0
				font-family: 'chevron'
				speak: none
				font-style: normal
				font-weight: normal
				font-variant: normal
				text-transform: none
				line-height: 1
				-webkit-font-smoothing: antialiased
				content: "\f054"
				top: 50%
				margin-top: -0.5em
				color:inherit

	.name
		display: block
		font-weight: bold
	.address
		color: gray

	.map
		margin: -10px
		margin-bottom: 10px